{% extends "PlantnetDataBundle:Root:layout.html.twig" %}
{% block title "Pl@ntnet - Publish - " ~ status_text %}
{% block header %}<h2>{{ status_code }} {{status_text}}</h2>{% endblock %}
{% block row %}{% endblock %}