{% for page in pages %}
    {% if is_granted('ROLE_USER') %}
        <li>
            <a class="edit ajax" href="{{ path('page_edit', { 'name': page.name }) }}">
                {{ page.name|capitalize }}
            </a>
        </li>
    {% else %}
        <li class="disabled">
            <a href="#">
                {{ page.name|capitalize }}
            </a>
        </li>
    {% endif %}
{% endfor %}