{% extends "PlantnetDataBundle:Frontend_6:layout.html.twig" %}
{% block title "Pl@ntnet - " ~ config.name ~ ' - ' ~ "footer-credits"|trans|capitalize %}
{% block header %}<h1>{{ config.name }} - {{ "footer-credits"|trans|capitalize }}</h1>{% endblock %}
{% block row %}
	<div>
		{% autoescape false %}
			{{ page.content }}
		{% endautoescape %}
	</div>
{% endblock %}