{% block main %}{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $('.pagerfanta').first().on('click','a', function(event){
            event.preventDefault();
            if($(this).attr('href').length&&$(this).attr('href')!='#'&&!$(this).parent('li').first().hasClass('active')){
                var url=$(this).attr('href');
                $('.pagerfanta ul').first().append('<li class="disabled"><a href="#">&nbsp;<div id="page-loading"></div>&nbsp;</a></li>');
                ajaxLoader();
                $('#data-load').load(url,function(){
                    $('#page-loading').empty();
                });
            }
        });
        $('.pagerfanta').last().on('click','a', function(event){
            event.preventDefault();
            if($(this).attr('href').length&&$(this).attr('href')!='#'&&!$(this).parent('li').first().hasClass('active')){
                var url=$(this).attr('href');
                $('.pagerfanta ul').first().append('<li class="disabled"><a href="#">&nbsp;<div id="page-loading"></div>&nbsp;</a></li>');
                ajaxLoader();
                $('html, body').animate({
                    scrollTop:0
                },'slow').promise().done(function(){
                    $('#data-load').load(url,function(){
                        $('#page-loading').empty();
                    });
                });
            }
        });
        _gaq.push(['_trackPageview','{{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) }}']);
    </script>
{% endblock %}