/web/bundles/*
/web/banners/*
/web/css/*
/web/js/*
/web/media/*
/web/uploads/*
/web/.htpasswd

/app/bootstrap.php.cache
/app/cache/*
/app/logs/*

/app/config/deploy/*
/app/config/deploy-prod/*
/app/config/deploy.rb
/app/config/parameters.yml
/app/config/parameters.yml.dist

/build/*
/vendor/*
/bin/*

/src/Plantnet/DataBundle/Resources/uploads/*
/src/Plantnet/DataBundle/Resources/public/data_images/*
