web/bundles/
web/css/*
web/js/*
web/media/*
web/uploads/*
src/Plantnet/DataBundle/Resources/uploads/*
src/Plantnet/DataBundle/Resources/public/data_images/*
app/bootstrap.php.cache
app/cache/*
app/logs/*
build/
vendor
bin
composer.phar
