web/bundles/
web/css/*
web/js/*
web/media/*
web/uploads/*
web/banners/*
src/Plantnet/DataBundle/Resources/uploads/*
src/Plantnet/DataBundle/Resources/public/data_images/*
app/bootstrap.php.cache
app/cache/*
app/logs/*
build/
vendor
bin
composer.phar
app/config/deploy/*
app/config/deploy-prod/*
app/config/deploy.rb
app/config/parameters.yml
