{% extends "PlantnetDataBundle:Frontend_4:layout.html.twig" %}
{% block title "Pl@ntnet - " ~ config.name ~ ' - ' ~ "footer-legal"|trans|capitalize %}
{% block header %}<h1>{{ config.name }} - {{ "footer-legal"|trans|capitalize }}</h1>{% endblock %}
{% block row %}
	<div>
		{% autoescape false %}
			{{ page.content }}
		{% endautoescape %}
	</div>
	<div>
		<h4>Avertissement relatif à l'utilisation de Google Analytics</h4>
		<p>
			Ce site utilise Google Analytics, un service d'analyse de site internet fourni par Google Inc. (« Google »). Google Analytics utilise des cookies, qui sont des fichiers texte placés sur votre ordinateur, pour aider le site internet à analyser l'utilisation du site par ses utilisateurs. Les données générées par les cookies concernant votre utilisation du site (y compris votre adresse IP) seront transmises et stockées par Google sur des serveurs situés aux Etats-Unis. Google utilisera cette information dans le but d'évaluer votre utilisation du site, de compiler des rapports sur l'activité du site à destination de son éditeur et de fournir d'autres services relatifs à l'activité du site et à l'utilisation d'Internet. Google est susceptible de communiquer ces données à des tiers en cas d'obligation légale ou lorsque ces tiers traitent ces données pour le compte de Google, y compris notamment l'éditeur de ce site. Google ne recoupera pas votre adresse IP avec toute autre donnée détenue par Google. Vous pouvez désactiver l'utilisation de cookies en sélectionnant les paramètres appropriés de votre navigateur. Cependant, une telle désactivation pourrait empêcher l'utilisation de certaines fonctionnalités de ce site. En utilisant ce site internet, vous consentez expressément au traitement de vos données nominatives par Google dans les conditions et pour les finalités décrites ci-dessus. 
		</p>
	</div>
{% endblock %}