<!DOCTYPE html>
<html>
	<head>
		{% block head %}
			<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
			<title>{% block title %}Pl@ntnet{% endblock %}</title>
			{% block stylesheets %}{% endblock %}
		{% endblock %}
	</head>
	<body>
		{% block body %}{% endblock %}
		{% block javascripts %}{% endblock %}
	</body>
</html>