{% extends "PlantnetDataBundle:Frontend:layout.html.twig" %}
{% block title "Pl@ntnet - " ~ project ~ ' - ' ~ "footer-contacts"|trans %}
{% block header %}<h1>{{ project|capitalize }} - {{ "footer-contacts"|trans }}</h1>{% endblock %}
{% block row %}
	{% autoescape false %}
		{{ page.content }}
	{% endautoescape %}
{% endblock %}