{% extends "PlantnetDataBundle:Frontend:layout.html.twig" %}
{% block title "Pl@ntnet - " ~ "footer-contacts"|trans %}
{% block header %}<h1>{{ project|capitalize }} - {{ "footer-contacts"|trans }}</h1>{% endblock %}
{% block row %}
	<div class="span12">
		{% autoescape false %}
			{{ page.content }}
		{% endautoescape %}
	</div>
{% endblock %}