{% extends "PlantnetDataBundle:Frontend:layout.html.twig" %}
{% block title "Pl@ntnet - " ~ "line-introduction"|trans|capitalize %}
{% block header %}<h1>{{ "line-projects"|trans|capitalize }}</h1>{% endblock %}
{% block row %}
	<div>
		<h5>
			{{ "line-projects-list"|trans|capitalize }}
		</h5>
		<div class="btn-group btn-group-vertical">
			{% for project in projects %}
				<a href="{{ path('front_project', {'project': project}) }}" class="btn">{{ project|capitalize }}</a>
			{% endfor %}
		</div>
	</div>
{% endblock %}