{% extends "PlantnetDataBundle::layout.html.twig" %}
{% block title "Pl@ntnet - Introduction" %}
{% block header %}<h1>Projects</h1>{% endblock %}
{% block main %}
	<p>
		"Publish v2" projects:
	</p>
	<ul>
		{% for project in projects %}
			<li><a href="{{ url('_project', {'project': project}) }}">{{ project|capitalize }}</a></li>
		{% endfor %}
	</ul>
{% endblock %}