{% for collection in collections %}
	<li>
		<a href="{{ path('_collection', { 'owner': collection.user.usernameCanonical, 'collection': collection.name }) }}">
			{{ collection.name }}
		</a>
	</li>
{% endfor %}