{% extends "PlantnetDataBundle::layout.html.twig" %}
{% block title "Pl@ntnet - Introduction" %}
{% block header %}<h1>Projet {{ project|capitalize }}</h1>{% endblock %}
{% block main %}
	bla bla
{% endblock %}