{% extends "PlantnetDataBundle:Frontend:layout.html.twig" %}
{% block title "Pl@ntnet - " ~ project|capitalize %}
{% block header %}<h1>{{ project|capitalize }}</h1>{% endblock %}
{% block row %}
	<div>
		{% autoescape false %}
			{{ page.content }}
		{% endautoescape %}
	</div>
	<div>
		{% for collection in collections if collection.deleting != true %}
			{% include "PlantnetDataBundle:Frontend\\Collection:collection_presentation.html.twig" %}
		{% endfor %}
	</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function(){
        	$('.carousel').carousel({
        		interval:4000
        	});
        	$('.pop-tooltip').tooltip();
        });
    </script>
{% endblock %}