#progress{
	position:relative;
	width:400px;
	border:1px solid #ddd;
	padding:1px;
	border-radius:3px;
}
#progress .bar{
	background-color:#B4F5B4;
	width:0%;
	height:20px;
	border-radius:3px;
}
#progress .percent{
	position:absolute;
	display:inline-block;
	top:3px;
	left:48%;
}
.loader{
	width:220px;
	height:19px;
	background-image:url('../images/loader.gif');
}