---
imports:
    - {resource: parameters.yml}
    - {resource: security.yml}

services:
    plantnet_security.wsse_request_matcher:
        class: Plantnet\UserBundle\Security\WsseHeaderRequestMatcher

framework:
    esi: ~
    translator: {fallback: "%locale%"}
    secret: "%secret%"
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: "%kernel.debug%"
    form: true
    csrf_protection: true
    validation: {enable_annotations: true}
    templating: {engines: ['twig']}  # assets_version: SomeVersionScheme
    default_locale: "%locale%"
    trusted_proxies: ['127.0.0.1']
    session: ~
    fragments:
        enabled: true
        path: /_fragment

sensio_framework_extra:
    router: {annotations: true}
    request: {converters: true}
    view: {annotations: false}  # More info at https://github.com/FriendsOfSymfony/FOSRestBundle/issues/95
    cache: {annotations: true}

# Twig Configuration
twig:
    debug: "%kernel.debug%"
    strict_variables: "%kernel.debug%"
    globals:
        mdb_base: "%mdb_base%"

# Assetic Configuration
assetic:
    debug: "%kernel.debug%"
    use_controller: false
    bundles: [PlantnetDataBundle]
    filters:
        cssrewrite: ~
        yui_css:
            jar: "%kernel.root_dir%/Resources/java/yuicompressor-2.4.2.jar"
        yui_js:
            jar: "%kernel.root_dir%/Resources/java/yuicompressor-2.4.2.jar"
        less:
            node: "%node%"
            node_paths: "%node_paths%"
        lessphp: ~

# Doctrine Configuration
doctrine:
    dbal:
        driver: "%database_driver%"
        host: "%database_host%"
        port: "%database_port%"
        dbname: "%database_name%"
        user: "%database_user%"
        password: "%database_password%"
        charset: UTF8
        # if using pdo_sqlite as your database driver, add the path in parameters.yml
        # e.g. database_path: %kernel.root_dir%/data/data.db3
        # path: %database_path%
    orm:
        auto_generate_proxy_classes: "%kernel.debug%"
        auto_mapping: true

doctrine_mongodb:
    connections:
        default:
            server: mongodb://mongo:27017
            options:
                connect: true
                username: "%mdb_username%"
                password: "%mdb_password%"
    default_database: "%mdb_base%"
    document_managers:
        default:
            auto_mapping: true
            mappings:
                StofDoctrineExtensionsBundle: false

# Swiftmailer Configuration
swiftmailer:
    transport: "%mailer_transport%"
    host: "%mailer_host%"
    username: "%mailer_user%"
    password: "%mailer_password%"
    spool: {type: memory}
    # delivery_adress: ...
    disable_delivery: "%mailer_disable%"

jms_translation:
    configs:
        app:
            dirs: ["%kernel.root_dir%", "%kernel.root_dir%/../src"]
            output_dir: "%kernel.root_dir%/Resources/translations"
            ignored_domains: []
            excluded_names: ["*TestCase.php", "*Test.php"]
            excluded_dirs: [cache, data, logs]
            extractors: []

fos_user:
    db_driver: mongodb
    firewall_name: main
    user_class: Plantnet\UserBundle\Document\User
    use_listener: true
    use_username_form_type: true
    from_email:
        address: "%from_email_adress%"
        sender_name: "%from_email_sender_name%"
    profile:
        form:
            type: fos_user_profile
            name: fos_user_profile_form
            validation_groups: [Profile]
    change_password:
        form:
            type: fos_user_change_password
            name: fos_user_change_password_form
            validation_groups: [ChangePassword]
    registration:
        confirmation:
            enabled: "%register_email_confirm%"
            template: FOSUserBundle:Registration:email.txt.twig
        form:
            type: plantnet_user_registration
            name: fos_user_registration_form
            validation_groups: [Registration]
    resetting:
        token_ttl: 86400
        email:
            template: FOSUserBundle:Resetting:email.txt.twig
        form:
            type: fos_user_resetting
            name: fos_user_resetting_form
            validation_groups: [ResetPassword]
    service:
        mailer: fos_user.mailer.default
        email_canonicalizer: fos_user.util.canonicalizer.default
        username_canonicalizer: fos_user.util.canonicalizer.default
        user_manager: fos_user.user_manager.default
#    template:
#        engine: twig

fos_rest:
    view:
        view_response_listener: true
        failed_validation: HTTP_BAD_REQUEST
        default_engine: php
        formats:
            json: true
            xml: true
            rss: false
    format_listener:
        prefer_extension: true
    body_listener:
        decoders:
            json: fos_rest.decoder.json
    param_fetcher_listener: true
    allowed_methods_listener: true

escape_wsse_authentication:
    authentication_provider_class: Escape\WSSEAuthenticationBundle\Security\Core\Authentication\Provider\Provider
    authentication_listener_class: Escape\WSSEAuthenticationBundle\Security\Http\Firewall\Listener

nelmio_api_doc: ~

liip_imagine:
    # cache_clearer: false
    # cache_mkdir_mode: 0777
    filter_sets:
        max_width_900:
            filters:
                relative_resize: {widen: 900}
        thumb_100_100:
            filters:
                thumbnail: {size: [100, 100], mode: outbound}
        thumb_template:
            filters:
                crop: {start: [0, 0], size: [270, 350]}
        thumb_idao:
            filters:
                thumbnail: {size: [120, 80], mode: outbound}
        thumb_180_120:
            filters:
                thumbnail: {size: [180, 120], mode: outbound}
        thumb_370_210:
            filters:
                thumbnail: {size: [370, 210], mode: outbound}
        thumb_130_75:
            filters:
                thumbnail: {size: [130, 75], mode: outbound}
        thumb_max_width_100:
            filters:
                relative_resize: {widen: 100}
