{% extends "PlantnetDataBundle:Frontend_CAY_Herbarium:layout.html.twig" %}
{% block title "Pl@ntnet - " ~ config.name ~ ' - ' ~ "footer-legal"|trans|capitalize %}
{% block header %}<h1>{{ "footer-legal"|trans|capitalize }}</h1>{% endblock %}
{% block row %}
	<div>
		{% autoescape false %}
			{{ page.content }}
		{% endautoescape %}
	</div>
	<div>
		<h4>{{ "line-google-mentions"|trans }}</h4>
		<p>{{ "text-google-mentions"|trans }}</p>
	</div>
{% endblock %}