{% for collection in collections if collection.deleting != true %}
	<li>
		<a href="{{ path('front_collection', { 'project': project, 'collection': collection.url }) }}">
			{{ collection.name }}
		</a>
	</li>
{% endfor %}