{% for collection in collections if collection.deleting != true %}
	<li>
		<a href="{{ path('_collection', { 'project': project, 'collection': collection.name }) }}">
			{{ collection.name }}
		</a>
	</li>
{% endfor %}