{% extends "PlantnetDataBundle:Backend:layout.html.twig" %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}
{% block sidebar %}
	{% render controller("PlantnetDataBundle:Backend/Collection:collection_list") %}
{% endblock %}
{% block body %}
	<div id="admin-form">
		{% block form %}
		{% endblock %}
	</div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
{% endblock %}