{% extends "PlantnetDataBundle:Backend:layout.html.twig" %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}
{% block sidebar %}
	<div class="well wellnav">
		{% if app.user.dbName %}
			<ul id="left-menu" class="nav nav-list">
				<li>
					<span class="label">
						Project:
						{% render controller("PlantnetDataBundle:Backend/Admin:displayTitle") %}
					</span>
				</li>
				<li class="divider"></li>
				{% render controller("PlantnetDataBundle:Backend/Collection:collection_list") %}
			</ul>
		{% endif %}
	</div>
{% endblock %}
{% block content %}
	{% block form %}{% endblock %}
{% endblock %}
{% block javascripts %}
	{{ parent() }}
{% endblock %}