{% extends "PlantnetDataBundle:Backend:layout.html.twig" %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}
{% block sidebar %}
	<div class="well wellnav">
		<ul id="left-menu" class="nav nav-list">
			{% render controller("PlantnetDataBundle:Backend/Collection:collection_list") %}
		</ul>
	</div>
{% endblock %}
{% block content %}
	{% block form %}{% endblock %}
{% endblock %}
{% block javascripts %}
	{{ parent() }}
{% endblock %}