{% extends "PlantnetDataBundle::layout.html.twig" %}

{% block title "Contacts" %}

 {% block body %}

<div class= 'pageFooter'>
    <h1>Contacts</h1>
    <ul class="text_titre">J. Barbe</ul>
        <li class="text_line">INRA, UMR AMAP, Boulevard de la Lironde PS 2, 34398 Montpellier.</li>
        <li class="text_line"><script type="text/javascript" language="javascript">
            var monmail="<a href=mailto:";
            monmail +="julien.barbe@";
            monmail +="cirad.fr>";
            document.write(monmail+" contact mail </a>");
            </script></li>

    
</div>

 {% endblock %}