{% extends "PlantnetGrapeBundle::layout.html.twig" %}

{% block title "Mentions" %}

 {% block body %}

<div class= 'pageFooter'>
    <h1>Mentions légales</h1>
    <div class= 'text_titre' >Droits et devoirs des utilisateurs</div>
    


</div>

 {% endblock %}