
{% for collection in list %}

        <li>
                                    
        <a href="{{ path('_collection', { 'collection': collection.collection }) }}">{{ collection.collection }}</a>
        {#{% for type in collection %}
            {% for row in type %}
            <li class="vtop"><a href="{{ path('_module', { 'collection': collection.collection, 'module': row.Name }) }}">{{ row.Name }}</a></li>
           
            {% endfor %}
        {% endfor %}#}
         </li>
{% endfor %}
