{# src/Plantnet/FileManagerBundle/Resources/views/layout.html.twig #}
{% block stylesheets %}{% endblock %}
{% block body %}
	<div>
		<h1>File Manager</h1>
		<div>
			{% block content %}{% endblock %}
		</div>
	</div>
{% endblock %}
{% block javascripts %}{% endblock %}