{# src/Plantnet/FileManagerBundle/Resources/views/layout.html.twig #}
{% extends "::base.html.twig" %}
{% block body %}
	<div>
		<h1>File Manager</h1>
		<div>
			{% block content %}{% endblock %}
		</div>
	</div>
{% endblock %}