{% extends app.request.isXmlHttpRequest ? "PlantnetDataBundle:Frontend:ajax_datatypes.html.twig" : "PlantnetDataBundle:Frontend:datatypes.html.twig" %}
{% block title config.name ~ ' - ' ~ collection.name ~ ' - ' ~ module.name ~ ' - Pl@ntnet' %}
{% block stylesheets %}
	{{ parent() }}
	{% include 'PlantnetDataBundle:Frontend:leaflet.css.html.twig' %}
{% endblock %}
{% block side %}
    {% include "PlantnetDataBundle:Frontend:side.html.twig" with { module: module_parent } %}
{% endblock %}
{% block main %}
    <div>
    	{# LEAFLET MAP #}
    	<div id="map">
    		<div id="map_bar" class="progress progress-striped active">
	    		<div class="bar" style="width:0%;"></div>
	    	</div>
    	</div>
    </div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{% include 'PlantnetDataBundle:Frontend:leaflet.js.html.twig' %}
{% endblock %}