//
// Custom Styles
// --------------------------------------------------


// Values
// --------------------------------------------------


// Styles
// --------------------------------------------------
a,a:hover,a:active,a:focus{
   outline:0;
}
html{
	overflow-y:scroll;
}
body{
	background:url("../../images/tiny_grid.png") repeat transparent;
}
header a{
    background:url("../../images/plantnet.png") no-repeat scroll 0 0 transparent;
    display:inline-block;
    height:38px;
    width:200px;
    margin:10px 0;
}
header h3 {
    display:inline;
    float:right;
}
.page-loading{
    background:url("../../images/page-loader.gif") no-repeat scroll 0 4px transparent;
    float:right;
    height:17px;
    width:25px;
}
.wellcontent h4{
	border-bottom:solid 1px #E5E5E5;
	padding-bottom:5px;
}
th.middle,td.middle{
	text-align:center;
}
td > input[type="text"]{
	margin:0;
}
td > select{
	width:auto;
}
.loading {
    background:url("../../images/import-loader.gif") no-repeat top left;
    height:17px;
    width:19px;
    float:right;
    margin-left:6px;
}
label.inline{
	display:inline-block;
	margin-bottom:10px;
}
.cleditorMain{
	margin-bottom:10px;
}


// Bootstrap : Custom
// --------------------------------------------------
.wellnav{
	padding:8px 0;
	font-weight:bold;
}
.wellnav .muted{
	font-weight:normal;
}
li.collection > a{
	background-color:#EEEEEE;
	-webkit-box-shadow:0 3px 8px rgba(0,0,0,0.125) inset;
	   -moz-box-shadow:0 3px 8px rgba(0,0,0,0.125) inset;
	        box-shadow:0 3px 8px rgba(0,0,0,0.125) inset;
}
li.collection > a:hover{
	background-color:#E5E5E5;
}
li.module{
	padding-left:20px;
}
li.submodule{
	padding-left:40px;
}
label{
	cursor:auto;
}
div.rd_chk input{
	float:left;
	margin-right:10px;
}