//
// Map
// --------------------------------------------------


// Values
// --------------------------------------------------
@map_height:			450px;
@map_border:			solid 1px #CCC;
@map_margin_bottom:		20px;
@map_border_radius:		6px;


// Styles
// --------------------------------------------------
#map{
	height:@map_height;
	border:@map_border;
	-webkit-border-radius:@map_border_radius;
	   -moz-border-radius:@map_border_radius;
	        border-radius:@map_border_radius;
	margin-bottom:@map_margin_bottom;
}