//
// Custom Styles Responsive
// --------------------------------------------------


// Values
// --------------------------------------------------
// -- brand
@brand_padding_left:	20px;
@brand_padding_right:	20px;


// Styles
// --------------------------------------------------
.navbar .brand{
	padding-left:@brand_padding_left;
	padding-right:@brand_padding_right;
}