//
// Custom Styles Responsive
// --------------------------------------------------


// Values
// --------------------------------------------------
// -- brand
@brand_padding:	20px;


// Styles
// --------------------------------------------------
.navbar .brand{
	padding-left:@brand_padding;
	padding-right:@brand_padding;
}