//
// Custom Styles
// --------------------------------------------------


// Values
// --------------------------------------------------
@top_bar_height:				40px;
@content_padding:				20px;


// Styles
// --------------------------------------------------
html{
	overflow-y:scroll;
}
html,body{
	background-color:#EEE;
}
body{
	padding-top:@top_bar_height; // @top_bar_height to make the container go all the way to the bottom of the topbar
}
.navbar-inverse .navbar-inner, .navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus, .navbar-inverse .nav li.dropdown.open > .dropdown-toggle, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle{
	background-image:url(../../images/overlay.png);
}
.brand{
	height:16px;
	width:169px;
	padding-left:20px;
	padding-right:20px;
	background:url(../../images/plantnet.png) no-repeat;
}
.container > .content{
	background-color:#FFF;
	padding:@content_padding;
	margin-top:0;
	margin-left:-@content_padding; // negative indent the amount of the padding to maintain the grid system
	margin-right:-@content_padding; // negative indent the amount of the padding to maintain the grid system
	margin-bottom:@top_bar_height;
	-webkit-border-radius:0 0 12px 12px;
	   -moz-border-radius:0 0 12px 12px;
	        border-radius:0 0 12px 12px;
	-webkit-box-shadow:0 2px 4px rgba(0,0,0,.15);
	   -moz-box-shadow:0 2px 4px rgba(0,0,0,.15);
	        box-shadow:0 2px 4px rgba(0,0,0,.15);
}
.page-header{
	background-color:#F5F5F5;
	margin:-@content_padding -@content_padding @content_padding -@content_padding;
	padding-top:4px;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:4px;
}
#page-loading{
	float:right;
	margin-top:8px;
}
div.description{
	margin-bottom:20px;
}


// Bootstrap : Custom
// --------------------------------------------------
span.pop-tooltip{
	cursor:default;
}
.carousel .item{
	text-align:center;
}

.results .pagerfanta:first-child .pagination{
	margin-top:0;
}

.results .pagerfanta:last-child .pagination{
	margin-bottom:0;
}

.breadcrumb{
	border:solid 1px #EEE;
}

.nav-stacked li.child{
	padding-left:30px;
}


// Collection : Presentation
// --------------------------------------------------
.collection_presentation{
	margin-top:20px;
}
.collection_presentation .head{
	margin-bottom:0px;
}
.collection_presentation .head h4{
	margin:0px;
}
.collection_presentation .content{
	margin-top:-1px;
	margin-left:20px;
	padding:20px;
	border:1px solid #E3E3E3;
	-webkit-border-radius:0 0 8px 8px;
	   -moz-border-radius:0 0 8px 8px;
	        border-radius:0 0 8px 8px;
	-webkit-box-shadow: 0px -1px 2px rgba(0,0,0,.15) inset;
	   -moz-box-shadow: 0px -1px 2px rgba(0,0,0,.15) inset;
	        box-shadow: 0px -1px 2px rgba(0,0,0,.15) inset;
}
.collection_presentation .content div.details{
	float:right;
	padding:10px;
	margin-top:-20px;
	margin-right:-20px;
	margin-left:10px;
	margin-bottom:10px;
	border-left:1px solid #E3E3E3;
	border-bottom:1px solid #E3E3E3;
}
.collection_presentation .content div.details h5{
	display:inline;
	margin:0px;
}
.collection_presentation .content div.details span{
	margin-left:2px;
}
.collection_presentation .images{
	background-color:rgba(0, 0, 0, 0.2);
	margin-top:20px;
	margin-right:20px;
}
.collection_presentation .images .item{
	width:280px;
	height:158px;
}


// Module : Presentation
// --------------------------------------------------
.module_presentation{
	margin-top:20px;
}
.module_presentation .head{
	margin-bottom:0px;
	margin-left:-3px;
	margin-right:-3px;
}
.module_presentation .head h4, .module_presentation h5{
	margin:0px;
	display:inline;
}
.module_presentation .content{
	margin-top:-1px;
	padding:20px;
	border:1px solid #E3E3E3;
	-webkit-border-radius:0 0 8px 8px;
	   -moz-border-radius:0 0 8px 8px;
	        border-radius:0 0 8px 8px;
	-webkit-box-shadow: 0px -1px 2px rgba(0,0,0,.15) inset;
	   -moz-box-shadow: 0px -1px 2px rgba(0,0,0,.15) inset;
	        box-shadow: 0px -1px 2px rgba(0,0,0,.15) inset;
}
.module_presentation .content div.details{
	float:right;
	padding:10px;
	margin-top:-20px;
	margin-right:-20px;
	margin-left:10px;
	margin-bottom:10px;
	border-left:1px solid #E3E3E3;
	border-bottom:1px solid #E3E3E3;
}
.module_presentation .content div.details span{
	margin-left:2px;
}
.module_presentation .images{
	background-color:rgba(0, 0, 0, 0.2);
	margin-top:20px;
}
.module_presentation .images .carousel{
	margin-bottom:0;
}
.module_presentation .middle{
	float:none;
	margin-left:auto;
	margin-right:auto;
}
.module_presentation .mini .item{
	width:220px;
	height:124px;
}
.module_presentation .maxi .item{
	width:460px;
	height:259px;
}


// Gallery
// --------------------------------------------------
.gallery a.thumbn{
	display:inline-block;
	background-color:rgba(0, 0, 0, 0.2);
}
.gallery a.thumbn > img{
	width:180px;
	height:120px;
}
.gallery a.thumbn > img.blind{
	opacity:0;
}
ul.thumbnails.per3 > li:nth-child(3n+1){
	clear:left;
}
div.thumbnail{
	text-align:center;
	border-color:#EEE;
	background-color:#F5F5F5;
	padding:8px;
}
div.thumbnail:hover{
	border-color:#DDD;
	background-color:#EEE;
	-webkit-box-shadow: 0px 3px 6px rgba(0,0,0,.15);
	   -moz-box-shadow: 0px 3px 6px rgba(0,0,0,.15);
	        box-shadow: 0px 3px 6px rgba(0,0,0,.15);
}
div.thumbnail h5, div.thumbnail p{
	margin:0;
	overflow:hidden;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	white-space:nowrap;
	width:100%;
}
div.thumbnail h5{
	font-size:12px;
	line-height:15px;
}
div.thumbnail p{
	font-size:11px;
	line-height:14px;
}
div.thumbnail .access{
	margin-top:8px;
	padding-top:8px;
	padding-right:8px;
	border-top:solid 1px #EEE;
	text-align:right;
}
div.thumbnail:hover .access{
	border-color:#DDD;
}
.viewer
{
	width:500px;
	height:400px;
	border:1px solid #DDD;
	position:relative;
	-webkit-border-radius:8px;
	   -moz-border-radius:8px;
	        border-radius:8px;
}
.wrapper
{
	overflow:hidden;
}
#fancybox-content .control-panel{
	text-align:center;
	padding-top:5px;
}
#fancybox-content .input-append, #fancybox-content .btn-group{
	margin:0;
}


// Footer
// --------------------------------------------------
#footer{
	height:79px;
}
#footer ul{
	list-style-type:none;
	float:left;
	margin:0;
}
#footer li{
	float:left;
	margin-right:@content_padding;
}
#mention ul{
	float:right;
	margin-top:25px;
}
#mention li{
	margin-right:0;
	margin-left:10px;
}
