{% extends "PlantnetUserBundle::layout.html.twig" %}
{% block fos_user_content %}
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}, 'FOSUserBundle') }}</p>
    <p>It must be validated by an administrator.</p>
    {% if app.session is not empty %}
        <p><a href="{{ path('fos_user_security_logout') }}">{{ 'registration.back'|trans({}, 'FOSUserBundle') }}</a></p>
    {% endif %}
{% endblock fos_user_content %}