{% extends "PlantnetUserBundle::layout.html.twig" %}
{% block fos_user_content %}
	<h2>Register</h2>
	<p class="text-warning">
		Warning, the database name can not be changed later.
	</p>
	{% include "PlantnetUserBundle:Registration:register_content.html.twig" %}
{% endblock fos_user_content %}