{% extends "PlantnetDataBundle:Frontend_5:layout.html.twig" %}
{% block title config.name ~ ' - Pl@ntnet' %}
{% block meta %}
	<meta name="description" content="{{ page.content|striptags|truncate(200)|cleandesc }}"/>
{% endblock %}
{% block header %}<h1>{{ config.name }}</h1>{% endblock %}
{% block row %}
	<div>
		{% autoescape false %}
			{{ page.content }}
		{% endautoescape %}
	</div>
	<div id="presentation">
		{% for collection in collections if collection.deleting != true %}
			{% include "PlantnetDataBundle:Frontend_5\\Collection:collection_presentation.html.twig" %}
		{% endfor %}
	</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function(){
        	$('.carousel').carousel({
        		interval:4000
        	});
        	$('.pop-tooltip').tooltip();
        });
    </script>
{% endblock %}