{% if config.availablelanguages|length > 0 %}
    <ul class="nav nav-tabs">
        <li{% if lang == 'default' %} class="active"{% endif %}>
            <a href="{{ path('module_edit_taxo', { 'id': id }) }}" class="ajax sub">{{ config.defaultlanguage }}</a>
        </li>
        {% for language in config.availablelanguages %}
            <li{% if lang == language %} class="active"{% endif %}>
                <a href="{{ path('module_edit_taxo_lang', { 'id': id, 'lang': language }) }}" class="ajax sub">{{ language }}</a>
            </li>
        {% endfor %}
    </ul>
{% endif %}